@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'NG-Grotesque-Regular';
  font-weight: 400;
  src: url(/fonts/NG-Grotesque-Regular.woff2);
}

@font-face {
  font-family: 'NG-Grotesque-Bold';
  font-weight: 700;
  src: url(/fonts/NG-Grotesque-Bold.woff2);
}

@font-face {
  font-family: 'NG-Grotesque-ExtraBold';
  font-weight: 800;
  src: url(/fonts/NG-Grotesque-ExtraBold.woff2);
}

@font-face {
  font-family: Chronicle;
  font-weight: 400;
  src: url(/fonts/Chronicle.woff2);
}

body {
  font-family: 'NG-Grotesque-Regular', 'Helvetica Neue', 'Helvetica', 'Arial',
    'Nimbus Sans L', 'Liberation Sans', sans-serif;
  font-size: 14px;
  line-height: 20px;
   color: #111213;
   overflow-x: hidden;
}
